In [76]:
import numpy as np
import pandas as pd

In [77]:
path= r"C:\Users\saksh\Desktop\DS_DATESET.csv"
df=pd.read_csv(path)
df=pd.DataFrame(df)
df.head(5)

,First Name,Last Name,City,State,Zip Code,DOB [DD/MM/YYYY],Age,Gender,Email Address,Contact Number,...,Programming Language Known other than Java (one major),Have you worked on MySQL or Oracle database,Have you studied OOP Concepts,Certifications/Achievement/ Research papers,Rate your written communication skills [1-10],Rate your verbal communication skills [1-10],Link to updated Resume (Google/ One Drive link preferred),link to Linkedin profile,How Did You Hear About This Internship?,Label
0,Barron,Harnes,Kolhapur,Maharashtra,416004,24-09-2000,19,Male,bharnes0@harvard.edu,6345186600,...,HTML/CSS,Yes,No,NaN,6,10,NaN,NaN,Twitter,ineligible
1,Velma,Allone,Pune,Maharashtra,411011,23-10-1997,22,Female,vallone1@i2i.jp,2808753102,...,PHP,No,Yes,NaN,10,7,NaN,NaN,Ex/Current Employee,eligible
2,Thibaut,Scotland,Mumbai,Maharashtra,400059,06-02-1996,24,Male,tscotland2@opensource.org,2945231918,...,C,No,No,NaN,8,6,NaN,NaN,Twitter,ineligible
3,Retha,Proud,Solapur,Maharashtra,413224,26-12-1999,20,Female,rproud3@flavors.me,7507196200,...,PHP,No,Yes,NaN,9,6,NaN,NaN,Twitter,ineligible
4,Del,Pearse,Sangli,Maharashtra,416436,21-09-1996,23,Female,dpearse4@sakura.ne.jp,6643884281,...,Python,No,Yes,NaN,8,6,NaN,NaN,Facebook,ineligible

In [78]:
null_values=pd.DataFrame(df.isnull().sum())
null_values

                                                        0
First Name                                              0
Last Name                                               0
City                                                    0
State                                                   0
Zip Code                                                0
DOB [DD/MM/YYYY]                                        0
Age                                                     0
Gender                                                  0
Email Address                                           0
Contact Number                                          0
Emergency Contact Number                                0
College name                                            0
University Name                                         0
Degree                                                  0
Major/Area of Study                                     0
Course Type                                             0
Which-year are you studying in?                         0
CGPA/ percentage                                        0
Expected Graduation-year                                0
Areas of interest                                       0
Current Employment Status                               0
Have you worked core Java                               0
Programming Language Known other than Java (one...      0
Have you worked on MySQL or Oracle database             0
Have you studied OOP Concepts                           0
Certifications/Achievement/ Research papers         10000
Rate your written communication skills [1-10]           0
Rate your verbal communication skills [1-10]            0
Link to updated Resume (Google/ One Drive link ...  10000
link to Linkedin profile                            10000
How Did You Hear About This Internship?                 0
Label                                                   0

In [79]:
df.shape

(10000, 32)

In [80]:
df=df.drop('Certifications/Achievement/ Research papers',axis=1)
df=df.drop('Link to updated Resume (Google/ One Drive link preferred)',axis=1)
df=df.drop('link to Linkedin profile',axis=1)
df

,First Name,Last Name,City,State,Zip Code,DOB [DD/MM/YYYY],Age,Gender,Email Address,Contact Number,...,Areas of interest,Current Employment Status,Have you worked core Java,Programming Language Known other than Java (one major),Have you worked on MySQL or Oracle database,Have you studied OOP Concepts,Rate your written communication skills [1-10],Rate your verbal communication skills [1-10],How Did You Hear About This Internship?,Label
0,Barron,Harnes,Kolhapur,Maharashtra,416004,24-09-2000,19,Male,bharnes0@harvard.edu,6345186600,...,Artificial Intelligence,Student,Yes,HTML/CSS,Yes,No,6,10,Twitter,ineligible
1,Velma,Allone,Pune,Maharashtra,411011,23-10-1997,22,Female,vallone1@i2i.jp,2808753102,...,Cloud Computing,Student,Yes,PHP,No,Yes,10,7,Ex/Current Employee,eligible
2,Thibaut,Scotland,Mumbai,Maharashtra,400059,06-02-1996,24,Male,tscotland2@opensource.org,2945231918,...,IoT,Student,Yes,C,No,No,8,6,Twitter,ineligible
3,Retha,Proud,Solapur,Maharashtra,413224,26-12-1999,20,Female,rproud3@flavors.me,7507196200,...,Digital Marketing,Student,No,PHP,No,Yes,9,6,Twitter,ineligible
4,Del,Pearse,Sangli,Maharashtra,416436,21-09-1996,23,Female,dpearse4@sakura.ne.jp,6643884281,...,Cloud Computing,Student,No,Python,No,Yes,8,6,Facebook,ineligible
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,Paulie,Wilden,Sangli,Maharashtra,416410,01-06-2000,19,Male,pwildenrn@sbwire.com,5067103396,...,Machine Learning,Student,Yes,JavaScript,Yes,Yes,9,9,Facebook,eligible
9996,Domini,Napton,Mumbai,Maharashtra,400059,20-07-1998,21,Female,dnaptonro@deviantart.com,9365868127,...,Cyber Security,Student,No,PHP,Yes,Yes,7,7,Friend,eligible
9997,Adoree,Westwick,Kolhapur,Maharashtra,416007,21-03-1998,22,Female,awestwickrp@example.com,7088063119,...,IoT,Student,Yes,C++,Yes,No,7,7,Newspaper,eligible
9998,Germain,Imlen,Sangli,Maharashtra,416415,29-01-2000,20,Female,gimlenrq@theatlantic.com,1662837014,...,Machine Learning,Student,No,JavaScript,Yes,Yes,7,6,Blog post,ineligible
9999,Roanne,Dallow,Solapur,Maharashtra,413224,06-03-1999,21,Female,rdallowrr@bandcamp.com,6837626327,...,Cyber Security,Student,No,C,No,No,6,10,Facebook,ineligible

In [83]:
df['Have you worked core Java']=df['Have you worked core Java'].replace({'No': 0, 'Yes': 1})

In [85]:
df['Have you worked on MySQL or Oracle database']=df['Have you worked on MySQL or Oracle database'].replace({'No': 0, 'Yes': 1})

In [86]:
df['Have you studied OOP Concepts']=df['Have you studied OOP Concepts'].replace({'No': 0, 'Yes': 1})

In [88]:
df.head()

,First Name,Last Name,City,State,Zip Code,DOB [DD/MM/YYYY],Age,Gender,Email Address,Contact Number,...,Areas of interest,Current Employment Status,Have you worked core Java,Programming Language Known other than Java (one major),Have you worked on MySQL or Oracle database,Have you studied OOP Concepts,Rate your written communication skills [1-10],Rate your verbal communication skills [1-10],How Did You Hear About This Internship?,Label
0,Barron,Harnes,Kolhapur,Maharashtra,416004,24-09-2000,19,Male,bharnes0@harvard.edu,6345186600,...,Artificial Intelligence,Student,1,HTML/CSS,1,0,6,10,Twitter,ineligible
1,Velma,Allone,Pune,Maharashtra,411011,23-10-1997,22,Female,vallone1@i2i.jp,2808753102,...,Cloud Computing,Student,1,PHP,0,1,10,7,Ex/Current Employee,eligible
2,Thibaut,Scotland,Mumbai,Maharashtra,400059,06-02-1996,24,Male,tscotland2@opensource.org,2945231918,...,IoT,Student,1,C,0,0,8,6,Twitter,ineligible
3,Retha,Proud,Solapur,Maharashtra,413224,26-12-1999,20,Female,rproud3@flavors.me,7507196200,...,Digital Marketing,Student,0,PHP,0,1,9,6,Twitter,ineligible
4,Del,Pearse,Sangli,Maharashtra,416436,21-09-1996,23,Female,dpearse4@sakura.ne.jp,6643884281,...,Cloud Computing,Student,0,Python,0,1,8,6,Facebook,ineligible

In [89]:
df['Label']=df['Label'].replace({'ineligible': 0, 'eligible': 1})
df.head(10)

,First Name,Last Name,City,State,Zip Code,DOB [DD/MM/YYYY],Age,Gender,Email Address,Contact Number,...,Areas of interest,Current Employment Status,Have you worked core Java,Programming Language Known other than Java (one major),Have you worked on MySQL or Oracle database,Have you studied OOP Concepts,Rate your written communication skills [1-10],Rate your verbal communication skills [1-10],How Did You Hear About This Internship?,Label
0,Barron,Harnes,Kolhapur,Maharashtra,416004,24-09-2000,19,Male,bharnes0@harvard.edu,6345186600,...,Artificial Intelligence,Student,1,HTML/CSS,1,0,6,10,Twitter,0
1,Velma,Allone,Pune,Maharashtra,411011,23-10-1997,22,Female,vallone1@i2i.jp,2808753102,...,Cloud Computing,Student,1,PHP,0,1,10,7,Ex/Current Employee,1
2,Thibaut,Scotland,Mumbai,Maharashtra,400059,06-02-1996,24,Male,tscotland2@opensource.org,2945231918,...,IoT,Student,1,C,0,0,8,6,Twitter,0
3,Retha,Proud,Solapur,Maharashtra,413224,26-12-1999,20,Female,rproud3@flavors.me,7507196200,...,Digital Marketing,Student,0,PHP,0,1,9,6,Twitter,0
4,Del,Pearse,Sangli,Maharashtra,416436,21-09-1996,23,Female,dpearse4@sakura.ne.jp,6643884281,...,Cloud Computing,Student,0,Python,0,1,8,6,Facebook,0
5,Farlay,Anstis,Sangli,Maharashtra,416415,12-02-2000,20,Male,fanstis5@zdnet.com,8429984749,...,Python,Student,1,PHP,1,0,6,7,Twitter,0
6,Vanna,Keighley,Solapur,Maharashtra,413224,18-03-2000,20,Female,vkeighley6@un.org,3929498765,...,QMS/Testing,Student,1,PHP,1,0,10,7,Facebook,1
7,Vikki,Ottawell,Kolhapur,Maharashtra,416004,21-07-1998,21,Female,vottawell7@4shared.com,4906898554,...,Data Science,Student,0,C++,0,1,9,9,Newspaper,1
8,Stanwood,Ferron,Mumbai,Maharashtra,400055,09-12-1999,20,Male,sferron8@vkontakte.ru,8739225175,...,QMS/Testing,Student,0,C++,1,1,9,10,Other,1
9,Tommie,Rastall,Kolhapur,Maharashtra,416119,28-10-1997,22,Male,trastall9@canalblog.com,3634744513,...,IoT,Student,1,.Net,0,1,10,10,Blog post,0